<app-menu></app-menu>
<div>
    <div>
        <span>User Detail</span>
    </div>
    <table class="table table-sm" *ngIf="user">
        <tr>
            <th>Id</th>
            <td>
                <input [(ngModel)]="user.id" type="number" disabled>
            </td>
        </tr>
        <tr>
            <th>Username</th>
            <td>
                <input [(ngModel)]="user.username" type="text" disabled>
            </td>
        </tr>
        <tr>
            <th>Password</th>
            <td>
                <input [(ngModel)]="user.password" type="password" disabled>
            </td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>
                <input [(ngModel)]="user.firstName" type="text" disabled>
            </td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>
                <input [(ngModel)]="user.lastName" type="text" disabled>
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>
                <input [(ngModel)]="user.email" type="text" disabled>
            </td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>
                <input [(ngModel)]="user.phone" type="text" disabled>
            </td>
        </tr>
        <tr>
            <th>Reviewer</th>
            <td>
                <input [(ngModel)]="user.reviewer" type="checkbox" disabled>
            </td>
        </tr>
        <tr>
            <th>Admin</th>
            <td>
                <input [(ngModel)]="user.admin" type="checkbox" disabled>
            </td>
        </tr>
    </table>
    <button (click)="edit()" class="btn btn-warning">Edit</button> |
    <button (click)="toggleVerify()" class="btn btn-danger">Delete</button>
    <span *ngIf="showVerify">
        | <button (click)="delete()" class="btn btn-danger">Verify Delete</button></span>
</div>
