<app-menu></app-menu>
<div>
    <div>
        <span>User Edit</span>
    </div>
    <table class="table table-sm" *ngIf="user">
        <tr>
            <th>Id</th>
            <td>
                <input [(ngModel)]="user.id" type="number" disabled>
            </td>
        </tr>
        <tr>
            <th>Username</th>
            <td>
                <input [(ngModel)]="user.username" type="text">
            </td>
        </tr>
        <tr>
            <th>Password</th>
            <td>
                <input [(ngModel)]="user.password" type="password">
            </td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>
                <input [(ngModel)]="user.firstName" type="text">
            </td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>
                <input [(ngModel)]="user.lastName" type="text">
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>
                <input [(ngModel)]="user.email" type="text">
            </td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>
                <input [(ngModel)]="user.phone" type="text">
            </td>
        </tr>
        <tr>
            <th>Reviewer</th>
            <td>
                <input [(ngModel)]="user.reviewer" type="checkbox">
            </td>
        </tr>
        <tr>
            <th>Admin</th>
            <td>
                <input [(ngModel)]="user.admin" type="checkbox">
            </td>
        </tr>
    </table>
    <button (click)="save()" class="btn btn-primary">Save</button>
    
</div>


