<app-menu></app-menu>
<div>
    <div>
    <span>User List</span> |
    <span><a routerLink="/users/create">Create</a></span>
</div>
    <table class = "table table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Fullname</th>
                <th>Phone</th>
                <th>Reviewer</th>
                <th>Admin</th>
                <th>Actions</th>
            </tr>
        </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.reviewer}}</td>
            <td>{{user.admin}}</td>
            <td>
                <a routerLink="/users/detail/{{user.id}}">Detail</a> |
                <a routerLink="/users/edit/{{user.id}}">Edit</a>
            </td>
        </tr>
    </tbody>
    </table>
</div>